<mat-toolbar class="toolbar1">
    <div>
        <p>Products</p>
    </div>
    <button class="cart-icon" (click)="gotoCart()" matTooltip="Go to Cart"><mat-icon>shopping_cart</mat-icon></button>
</mat-toolbar>
<div *ngIf="products">
    <div *ngFor="let product of products">
        <mat-card>
            <div class="product-card">
                <div class="product-img">
                    <img mat-card-avatar [src]="product.images[0]" alt="not-loaded">
                </div>
                <div class="product-desc">
                    <p><b>{{product.title}}</b></p>
                    <p>{{product.description}}</p>
                    <br>
                    <p><b></b>Rs: {{product.price}}<b></b></p>
                </div>
                <div class="card-button">
                    <button mat-raised-button color="primary" (click)="updateCart(product)"> Add to Cart</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<mat-toolbar class="toolbar2">
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        (page)="onPageChange($event)">
    </mat-paginator>

</mat-toolbar>